@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white dark:bg-dt-background font-extralight;
    @apply w-full h-full;
    overflow-y: scroll;
  }
  #root {
    overflow-x: hidden;
    box-sizing: box-border;
  }
  #wrapper {
    @apply w-full m-0 pt-[82px];
    @apply bg-white dark:bg-dt-background;
    @apply flex flex-col items-start pt-12 gap-[30px];
    @apply text-typo dark:text-dt-typo;
  }
  #wrapper * {
    box-sizing: box-border;
  }
  h1 {
    font-family: "Italiana", serif;
  }
}

@layer components {
  .errorMessage {
    @apply text-xl font-extralight text-red ml-8 mt-2;
  }
  .statusFeedback {
    @apply text-xl font-light text-typo ml-8 mb-10;
  }
  .bg-transparent {
    background-color: rgba(0, 0, 0, 0);
  }

  .shadow-default {
    box-shadow: 3px 3px 0px 0px rgba(0, 85, 212, 1);
  }
  .shadow-transparent {
    box-shadow: 3px 3px 0px 0px rgba(0, 85, 212, 0.5);
  }
  .shadow-dt-transparent {
    box-shadow: 2px 2px 0px 0px rgba(96, 165, 250, 0.5);
  }

  /*Icon light-theme*/
  .fillIcon {
    stroke: rgba(37, 37, 37, 1);
  }
  .link_wrapper_a:hover .child {
    stroke: rgba(0, 102, 255, 1);
    text-decoration: underline;
  }
  .link_wrapper:hover .line {
    background-color: rgba(0, 102, 255, 1);
  }

  /*Icon dark-theme*/
  .dark .fillIcon {
    stroke: rgba(250, 250, 250, 1);
  }
  .dark .link_wrapper_a:hover .fillIcon {
    stroke: rgba(96, 165, 250, 1);
  }
  .dark .link_wrapper_a:hover .child {
    stroke: rgba(96, 165, 250, 1);
    text-decoration: underline;
  }
  .dark .link_wrapper:hover .line {
    background-color: rgba(96, 165, 250, 1);
  }

  /*clapOut Component light-theme*/
  .clapOutSvg {
    fill: rgba(255, 255, 255, 0.5);
    stroke: rgba(37, 37, 37, 1);
  }
  .svgClapOutWrapper:hover .clapOutSvg {
    fill: rgba(96, 165, 250, 1);
    stroke: rgba(0, 85, 212, 1);
    filter: drop-shadow(3px 3px 0px 0px rgba(0, 85, 212, 1));
  }

  /*clapOut Component dark-theme*/
  .dark .clapOutSvg {
    fill: rgba(250, 250, 250, 0.05);
    stroke: rgba(250, 250, 250, 1);
  }
  .dark .svgClapOutWrapper:hover .clapOutSvg {
    fill: rgba(0, 85, 212, 0.1); /*interactive-week*/
    stroke: rgba(0, 85, 212, 1);
  }
}
