@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: box-border;
  }

  html {
    @apply bg-white dark:bg-dt-background;
    @apply w-full h-full;
    overflow-y: auto;
  }

  #root {
    overflow-x: hidden;
    box-sizing: box-border;
    overflow-y: auto;
  }

  #wrapper {
    @apply w-full m-0 pt-[82px];
    @apply bg-white dark:bg-dt-background;
    @apply flex flex-col items-start pt-12 gap-[30px];
    @apply text-typo dark:text-dt-typo;
    overflow-y: auto;
  }
  h1 {
    font-family: "Italiana", serif;
  }
}

@layer components {
  .bg-transparent {
    background-color: rgba(0, 0, 0, 0);
  }
  .shadow-default {
    box-shadow: 3px 3px 0px 0px rgba(0, 85, 212, 1);
  }
  .shadow-transparent {
    box-shadow: 3px 3px 0px 0px rgba(0, 85, 212, 0.5);
  }
  .shadow-dt-transparent {
    box-shadow: 2px 2px 0px 0px rgba(96, 165, 250, 0.5);
  }
  .fillIcon {
    fill: rgba(0, 85, 212, 0.65);
  }
  .parent:hover .child {
    fill: rgb(0, 102, 255);
    color: rgb(0, 102, 255);
    text-decoration: underline;
  }
  .dark .fillIcon {
    fill: rgba(96, 165, 250, 0.65);
  }
  .dark .parent:hover .child {
    fill: rgb(0, 115, 255);
    color: rgba(96, 165, 250, 1);
    text-decoration: underline;
  }
}
